.git
.github
.vs
.vscode
**/bin
**/obj
**/TestResults
**/node_modules
**/dist
**/playwright-report
**/test-results
**/*.env
**/.env
**/.env.*
!**/.env.example
**/appsettings.[Ll]ocal.json
**/appsettings.*.[Ll]ocal.json
**/secrets.json
artifacts
deploy
README.md
VISION.md
design
